<div class="appendable-div">
    <div class="col-md-4">
    <!-- limited filters to limit number of indexes in gcloud datastore -->
      {{ var values = [
        {id: "change_type", text: "Change type"},
        {id: "subject_class", text: "Subject class"},
        {id:"user_id", text: "User"},
        <!-- {id:"via", text: "Via"}, -->
        <!-- {id: "entries.data_type", text: "Data Type"}, -->
        <!-- {id: "entries.field_name", text: "Field Name"}, -->
        <!-- {id: "entries.new_value", text: "New Value"}, -->
        <!-- {id: "entries.old_value", text: "Old Value"}, -->
        {id: "modified_at", text: "modified_between"}
        ]
        var operator_values =
        [
          {id: "=", text: "equal to"}
          <!-- {id: ">", text: "greater than"}, -->
          <!-- {id: ">", text: "less than"}, -->
          <!-- {id: ">", text: "not equal to"} -->
        ]
      }}
      {{= _.select2("key", values, { selected_value: "change_type", class: "form-control select2 criteria-key",required: "required"}) }}
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="criteria-value-container"></div>
      </div>
    </div>
</div>