<div class='audit-single-query-container' data-id="{{= id }}">
  <div class='audit-query' data-id="{{= id }}">{{= (key == "modified_at")? "Modified between" : key.titleize() }}  {{= (key != "modified_at") ? operator : "" }} {{= value_text }}</div>
  <a href='javascript:;' class='remove-audit-filter' data-id="{{= id }}"><i class='mdi mdi-close'></i></a>
</div>
