<div class="filter-wrapper">
  <h4 class="text-thin">Search filters</h4>
  <div class="filter">

    <div class="conditions-container">
      {{_.each(applied_filters, function(hash){ }}
        {{= JST["base/templates/items/audits/_condition"](hash) }}
      {{ }) }}
    </div>
    <div class="actions">
      <a class="btn btn-default plus" data-toggle="modal" data-target="#audit-filter-form">Add new filter</a>
      <button class="btn btn-primary search-audits">Search</button>
    </div>
  </div>
</div>
<div class="modal" id="audit-filter-form">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Condition</h4>
      </div>
      <div class="modal-body">
        {{= JST["base/templates/items/audits/_audit_filter_form"]() }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default add-filter-to-list">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
