{{ if(!_.isEmpty(associations)){ }}
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <b><label class="control-label">Associated records</label></b>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Entity</label>
        </div>
        <div class="col-md-6">
          <label class="control-label">Name</label>
        </div>
      </div>
      {{ _.each(associations,function(value,i){ }}
      <div class="row">
        <div class="col-md-6">
          {{= value.parent_class }}
        </div>
        <div class="col-md-6">
          {{= value.parent_name }}
        </div>
      </div>
      {{ }) }}
    </div>
  </div>
</div>
<hr>
{{ } }}
<b><label class="control-label">Changes</label></b>
<table class="table">
  <tr>
    <td><label class="control-label">Field Name</label></td>
      {{ if(change_type!="create"){ }}
    <td><label class="control-label">Changed from</label></td>
      {{ } }}
    <td><label class="control-label">Changed to</label></td>
  </tr>
  {{ _.each(entries,function(ele,i){ }}
    <tr>
    {{ if( ele.data_type!="NilClass" ){ }}
      <td>{{= ele.field_name.replace(/_id/,'').titleize() }}</td>
      {{ if( change_type!="create" ){ }}

        {{ if( ele.id_field ){ }}
          {{ if( _.isArray(ele.old_value )){ }}
            <td>
            {{
              var old_value_names = _.collect(ele.old_value, function(value){
              return(!_.isEmpty(value) ? JSON.parse(value)["name"].titleize() : "")
              })
            }}
            {{= old_value_names.join() }}
            </td>
          {{ }else{ }}
            <td>
            {{=
            (!_.isEmpty(ele) && !_.isEmpty(ele.old_value)) ? JSON.parse(ele.old_value)["name"].titleize() : "" }}</td>
          {{ } }}
        {{ }else{ }}
          <td>{{= ele.old_value }}</td>
        {{ } }}
      {{ } }}
      {{ if( ele.id_field ){ }}
        {{ if( _.isArray(ele.new_value) ){ }}
          <td>
          {{
            var new_value_names = _.collect(ele.new_value, function(value){
              return (!_.isEmpty(value) ? JSON.parse(value)["name"].titleize()  : "")
            })
          }}
          {{= new_value_names.join(" , ") }}
          </td>
        {{ }else{ }}
          <td>{{= (!_.isEmpty(ele) && !_.isEmpty(ele.new_value)) ? JSON.parse(ele.new_value)["name"] : "" }}</td>
        {{ } }}
      {{ }else{ }}
        <td>{{= ele.new_value }}</td>
      {{ } }}
    {{ } }}
    </tr>
  {{ }) }}
</table>