<div class="col-md-3">
  {{= _.isEmpty(modified_at) ? "" : moment(modified_at).format("Do MMM YYYY, h:mm a") }}
</div>
<div class="col-md-9">
  <b>{{= _.isEmpty(user_name) ? "-" : user_name }}</b> {{= _.isEmpty(change_type) ? "-" : change_type }}{{=change_type == "destroy" ? 'ed ' : 'd' }} {{= _.isEmpty(subject_class) ? "-" : subject_class }} {{=_.isEmpty(subject_name) ? "" : "named '" + subject_name+"'"}}
  {{var parent_name = ""}}
  {{
    if(!_.isEmpty(associations)){
  }}
  {{
     _.each(associations,function(ele){
     if(ele.primary){ }}
       on
      {{
         parent_name = parent_name + ele.parent_class+" named '"+ ele.parent_name+ "' "
      }
      })
  }
}}
{{= parent_name }} - <a href="javascript:;" class="details">details</a>
</div>